@model IEnumerable<AppleWebsite.Models.Device>

@{
	ViewBag.Title = Model.FirstOrDefault().Category.name_cate;
}

<style>
	.card {
		transition: all 0.2s ease-in-out;
	}

		.card:hover {
			transform: scale(1.02);
			box-shadow: 0px 15px 15px rgb(128, 128, 120);
		}

	.popular {
		position: relative;
	}

		.popular:before {
			background-color: rgb(38,52,64);
			content: "Best Seller";
			color:white;
			padding:5px 10px;
			border-radius:20px;
			position: absolute;
			right: -40px;
			top: -25px;
		}
</style>
<div style="height:560px;" id="carouselControls" class="carousel slide" data-mdb-ride="carousel" data-bs-ride="carousel">
	<div class="carousel-inner ">
		<div style="overflow:hidden;" class="carousel-item active ">
			<div style="height:560px; background-image: url(/DeviceAppleImage/banner_ipad.jpg);background-position:center;background-size:contain;background-repeat:no-repeat">
			</div>
		</div>
		<div style="overflow:hidden;" class="carousel-item">
			<div style="height:560px; background-image: url(/DeviceAppleImage/banner_iphone.jpg);background-position:center;background-size:contain;background-repeat:no-repeat">
			</div>

		</div>
		<div style="overflow:hidden;" class="carousel-item ">
			<div style="height:560px; background-image: url(/DeviceAppleImage/banner_mac.jpg);background-position:center;background-size:contain;background-repeat:no-repeat">
			</div>
		</div>
		<div style="overflow: hidden;" class="carousel-item ">
			<div style="height:560px; background-image: url(/DeviceAppleImage/banner_watch.jpg);background-position:center;background-size:contain;background-repeat:no-repeat">
			</div>
		</div>
		<div style="overflow: hidden;" class="carousel-item ">
			<div style="height:560px; background-image: url(/DeviceAppleImage/banner_iphone2.jpg);background-position:center;background-size:contain;background-repeat:no-repeat">
			</div>
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
<div class="container">
	<strong><a class="text-decoration-none text-dark text-uppercase " href="#">@Model.FirstOrDefault().Category.name_cate</a></strong>
	<div class="col">
		<div class="row justify-content-start">
			@{

				Random rd = new Random();
				int rand;
			}
			@foreach (var item in Model)
			{
				rand = rd.Next(3);
				if (rand == 1)
				{

					<div class="card  p-2 mx-auto m-3  col-7 col-md-4 mx-md-2  col-lg-3 mx-lg-2 col-xl-3 mx-xl-4 col-xxl-2 mx-xxl-4 popular" style="">
						<img class="card-img-top " style="" src="~/DeviceAppleImage/@item.Category.name_cate/@item.img" alt="Alternate Text" />
						<div class="card-body  justify-content-between flex-column d-flex">
							<h5 class="card-title h6">@item.name_dev</h5>
							<p class="card-text h6">Cost: @item.cost.ToString("C")</p>
							@Html.ActionLink("Buy", "details", new { id = item.id_dev, controller = "device" }, new { @class = "card-img-bottom btn btn-outline-secondary" })

						</div>
					</div>
				}
				else
				{
					<div class="card  p-2 mx-auto m-3  col-7 col-md-4 mx-md-2  col-lg-3 mx-lg-2 col-xl-3 mx-xl-4 col-xxl-2 mx-xxl-4" style="">
						<img class="card-img-top " style="" src="~/DeviceAppleImage/@item.Category.name_cate/@item.img" alt="Alternate Text" />
						<div class="card-body  justify-content-between flex-column d-flex">
							<h5 class="card-title h6">@item.name_dev</h5>
							<p class="card-text h6">Cost: @item.cost.ToString("C")</p>
							@Html.ActionLink("Buy", "details", new { id = item.id_dev, controller = "device" }, new { @class = "card-img-bottom btn btn-outline-secondary" })

						</div>
					</div>
				}
			}
		</div>
	</div>
</div>