@model IEnumerable<AppleWebsite.Models.Device>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name_dev)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.img)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.storage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_cate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name_dev)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.img)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.storage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_cate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_dev }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_dev }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_dev })
        </td>
    </tr>
}

</table>
